@model ParentContactWeb.models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@{
    var contacts = ViewData["Contacts"] as IEnumerable<ParentContactWeb.models.Contact>;
    var parentcount = Model.Parents.Count;
    var contactcount = contacts.Count();
    var parentid = Model.Parents.FirstOrDefault().ParentId;

}


<div>
    <h4>Student</h4>
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentNotes)
        </dd>
    </dl>
</div>


<p>

   <h4> Student's Parent </h4>
</p>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Family Name
            </th>
            <th>
                Cell
            </th>
            <th>
                email
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        
        <tr>
            <td>
                @Html.DisplayFor(model => model.Parents.FirstOrDefault().FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Parents.FirstOrDefault().FamilyName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Parents.FirstOrDefault().CellNo)
            </td>
            <td>
                @Html.DisplayFor(model => model.Parents.FirstOrDefault().Email)
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Parents" asp-action="Edit" asp-route-id="@parentid">Edit</a>
            </td>
        </tr>
        
    </tbody>
    


</table>



<p>

    <h4>Recent Parent Contact(s) </h4>

</p>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Contact Date
            </th>
            <th>
                Contact Reason
            </th>
            <th>
                School Note
            </th>
            <th>
                Parent Comments
            </th>
            <th>

            </th>
        </tr>
    </thead>
    @if (contactcount > 0)

    {
        <tbody>
            @foreach (var item in contacts)
            {
                <tr>
                    <td>
                                          
                        @item.ContactDate
                    </td>
                    <td>
                                             
                        @item.ContactReason
                    </td>
                    <td>
                        @item.TalkingPoints
                    </td>
                    <td>
                         @item.ParentComments
                    </td>
                    <td>
                        <a class="btn btn-primary"  asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.ContactId">Edit</a>
                        <a class="btn btn-primary"  asp-controller="Contacts" asp-action="Create" asp-route-id="@item.ParentId">New Contact</a>


                    </td>
                </tr>
            }
        </tbody>


    }

    else
    {

        @Html.DisplayText("no notes found")




    }





</table>






<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
