@model IEnumerable<ParentContactWeb.ViewModels.ContactTopTenViewModel>

@{
    ViewData["Title"] = "Home Page";

}


<div class="jumbotron">
    <div class="container">
        <h2 class="display-3">HU-MS2 Parent Contact Manager</h2>
        <p> To track and new parent contact </p>
        <p><a class="btn btn-primary btn-lg" asp-controller="Contacts" asp-action="Create">New Parent Contact &raquo;</a></p>

    </div>
</div>

<div class="container">
    <table class="table table-bordered table-hover">
        <caption>Latest Parent Contacts</caption>
        <thead class="thead-dark">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Family Name
                </th>
                <th>
                    Contact Reason
                </th>
                <th>
                    Contact Date
                </th>

                <th> Follow-up Needed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
              <tr>  
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.ContactReason
                </td>
                <td>
                    @item.ContactDate
                </td>
                <td>
                     @item.FollowupNeeded
                </td>

               </tr> 
            }
        </tbody>
    </table>

</div> <!-- /container -->