@model IEnumerable<ParentContactWeb.models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Students" asp-action="Index">
<p>
    <input type="text" name="searchTerm">
    <input type="submit" value="Search" class="btn btn-default" />
</p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.ContactReason)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NoteId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NoteId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NoteId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
