@model ParentContactWeb.models.Contact

@{
    ViewData["Title"] = "Create";
    var parent = @ViewData["Parent"] as ParentContactWeb.models.Parent;
    var student = @ViewData["Student"] as ParentContactWeb.models.Student;
    var parentname = parent.FirstName + " " + parent.FamilyName;
    var studentname = student.FirstName + " " + student.LastName;
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="StudentId" class="control-label">Student</label>
        @Html.DisplayText(studentname)
        <input type="hidden" asp-for="StudentId" class="form-control" readonly="@true" />
    </div>
    <div class="form-group">
        <label asp-for="ParentId" class="control-label"></label>
        @Html.DisplayText(parentname)
        <input type="hidden" asp-for="ParentId" class="form-control" readonly="@true" />
    </div>
    <div class="form-group">
        <label asp-for="ContactDate" class="control-label"></label>
        <input asp-for="ContactDate" class="form-control" />
        <span asp-validation-for="ContactDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactReason" class="control-label">Contact Reason</label>
        <select asp-for="ContactReason" class="form-control" asp-items="ViewBag.ContactReasons">
        </select>
        <span asp-validation-for="ContactReason" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactMethod" class="control-label"></label>
        <Select asp-for="ContactMethod" class="form-control" asp-items="ViewBag.ContactMethod">
            <option value="">Select Contact Method</option>
        </Select>
        <span asp-validation-for="ContactMethod" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactStatus" class="control-label"></label>
        <Select asp-for="ContactStatus" class="custom-select">
                <option value="">Choose Status</option>
                <option value="Open">Open</option>
                <option value="Closed">Closed</option>
                 
         </Select>
        <span asp-validation-for="ContactStatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FollowUpNeeded" class="control-label"></label>
        <Select asp-for="FollowUpNeeded" class="custom-select">
            <option value="">Is Follow-up Needed</option>
            <option value="1">Yes</option>
            <option value="0">No</option>

        </Select>



        <span asp-validation-for="FollowUpNeeded" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TalkingPoints" class="control-label">School Notes</label>
      
        <span asp-validation-for="TalkingPoints" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ParentComments" class="control-label"></label>

        @Html.TextAreaFor(m => m.ParentComments, new { @class = "form-control" })

        <span asp-validation-for="ParentComments" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AssignedTo" class="control-label"></label>
        <Select asp-for="AssignedTo" class="form-control" asp-items="ViewBag.AssignedTo">
          <option value="">Choose Assignee</option>
        </Select>

        <span asp-validation-for="AssignedTo" class="text-danger"></span>
    </div>



    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

