@model ParentContactWeb.models.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TalkingPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TalkingPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FollowUpNeeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FollowUpNeeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parent.FamilyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
