@model ParentContactWeb.models.Contact

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@{

    var parent = @ViewData["Parent"] as ParentContactWeb.models.Parent;
    var student = @ViewData["Student"] as ParentContactWeb.models.Student;

    var notecount = Model.Notes.Count;
    var parentname = parent.FirstName + " " + parent.FamilyName;
    var studentname = student.FirstName + " " + student.LastName;

}


<h4>Contact</h4>

<<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ContactId" />

    <div class="form-row">
        <div class="col-4">
            <label asp-for="Student" class="control-label"></label>
            <input type="text" readonly value="@studentname" class="form-control"/>
            <input type="hidden" asp-for="StudentId" class="form-control" readonly="@true" />

        </div>
        <div class="col-4">
            <label asp-for="Parent" class="control-label"></label>
            <input type="text" readonly value="@parentname" class="form-control" />
            <input type="hidden" asp-for="ParentId" class="form-control" readonly="@true" />

        </div>
    </div>
    <div class="form-row">
        <div class="col-2">
            <label asp-for="ContactReason" class="control-label"></label>
            <input asp-for="ContactReason" class="form-control" />
            <span asp-validation-for="ContactReason" class="text-danger"></span>
        </div>
        <div class="col-2">
            <label asp-for="ContactStatus" class="control-label"></label>
            <input asp-for="ContactStatus" class="form-control" />
            <span asp-validation-for="ContactStatus" class="text-danger"></span>
        </div>
        <div class="col-2">
            <label asp-for="ContactMethod" class="control-label"></label>
            <input asp-for="ContactMethod" class="form-control" />
            <span asp-validation-for="ContactMethod" class="text-danger"></span>
        </div>
        <div class="col-2">
            <label asp-for="ContactDate" class="control-label"></label>
            <input asp-for="ContactDate" class="form-control" />
            <span asp-validation-for="ContactDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-1">

            <label asp-for="FollowUpNeeded" class="control-label"></label>
            <input asp-for="FollowUpNeeded" class="form-control" />
            <span asp-validation-for="FollowUpNeeded" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-7">
            <label asp-for="TalkingPoints" class="control-label"></label>
            <textarea  rows="5" asp-for="TalkingPoints" class="form-control"></textarea> 
            <span asp-validation-for="TalkingPoints" class="text-danger"></span>
        </div>
    </div>


    <div class="form-row">
        <div class="col-md-offset-1 col-md-11">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </div>


</form>

 <table class="table table-bordered table-hover">
     <thead class="thead-dark">
         <tr>
             <th>
                 Note Type
             </th>
             <th>
                 Notes
             </th>
             <th>
                Note Date
             </th>
             <th>
                 Parent Comments
             </th>
            
         </tr>
     </thead>
     @if( @notecount > 0)

     {
 <tbody>
     @foreach (var item in Model.Notes)
     {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.NoteType)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.NoteDate)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.ContactNotes)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.ParentComments)
             </td>
             
         </tr>
     }
 </tbody>


     }

     else
     {
      
           @Html.DisplayText("no notes found")

      
      

     }





     </table>







     <div>
      
         <a asp-action="Index">Back to List</a>
     </div>

     @section Scripts {
         @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     }
