@model IEnumerable<ParentContactWeb.models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Students" asp-action="Index">
<p>
    <input type="text" name="searchTerm">
    <input type="submit" value="Search" class="btn btn-default" />
</p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TalkingPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FollowUpNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TalkingPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FollowUpNeeded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContactId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
